<launch>

  <include file="$(find maxwell_defs)/launch/upload_maxwell.launch"/>

  <node pkg="pr2_calibration_launch"
        type="pr2_fk_ref"
        name="pr2_fk_ref"/>

  <param name="config_file" value="$(find maxwell_calibration)/estimate_params/config/system.yaml" />
  <param name="arm_commands" textfile="$(find maxwell_calibration)/test/data/arm.txt" />
  <param name="head_commands" textfile="$(find maxwell_calibration)/test/data/head.txt" />

  <test test-name="maxwell_arm_fk_test" pkg="maxwell_calibration" type="maxwell_arm_fk_unittest.py" />
  <test test-name="maxwell_head_fk_test" pkg="maxwell_calibration" type="maxwell_head_fk_unittest.py" />

</launch>
