<launch>
  <!-- Maxwell is an awesome mobile manipulator. 
       This launch file brings him to life. -->

  <param name="/use_sim_time" value="false"/>
  <arg name="parallel_gripper"  default="false"/>
  <include file="$(find maxwell_defs)/launch/upload_maxwell.launch" >
    <arg name="parallel_gripper" value="$(arg parallel_gripper)"/>
  </include>

  <!-- Etherbotix and Controllers -->
  <node name="etherbotix" pkg="etherbotix_python" type="driver.py" output="screen">
      <rosparam file="$(find maxwell_defs)/params/maxwell.yaml" command="load" />
      <param name="sim" value="false"/>
      <remap from="cmd_vel" to="base_controller/command"/>
  </node>
  <include file="$(find maxwell_defs)/launch/gripper_controller.launch" >
    <arg name="parallel_gripper" value="$(arg parallel_gripper)"/>
  </include>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Monitoring and Diagnostics -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find maxwell_defs)/params/diagnostics.yaml" />
  </node>

  <!-- Laser and Camera -->
  <include file="$(find maxwell_defs)/launch/base_laser.launch" />
  <include file="$(find maxwell_defs)/launch/head_camera.launch" />

  <!-- Teleop -->
  <include file="$(find maxwell_defs)/launch/teleop.launch" />

</launch>
