<launch>
  <!-- Maxwell is an awesome mobile manipulator. This launch file 
       brings a slightly less awesome simulated version of him to life. -->

  <include file="$(find maxwell_defs)/launch/upload_maxwell.launch" />

  <!-- ArbotiX -->
  <node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
      <rosparam file="$(find maxwell_defs)/params/maxwell.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>
  <node name="statepub" pkg="robot_state_publisher" type="state_publisher" />

  <!-- Monitoring and Diagnostics -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find maxwell_defs)/params/diagnostics.yaml" />
  </node>

</launch>
