<launch>
  <!-- Maxwell is an awesome mobile manipulator. This launch file 
       brings a slightly less awesome simulated version of him to life. -->

  <arg name="parallel_gripper"  default="false"/>
  <include file="$(find maxwell_defs)/launch/upload_maxwell.launch" >
    <arg name="parallel_gripper" value="$(arg parallel_gripper)"/>
  </include>

  <!-- ArbotiX -->
  <!--<node name="arbotix" pkg="arbotix_python" type="arbotix_driver" output="screen">
      <rosparam file="$(find maxwell_defs)/params/maxwell.yaml" command="load" />
      <param name="sim" value="true"/>
  </node>
  <include file="$(find maxwell_defs)/launch/gripper_controller.launch" >
    <arg name="parallel_gripper" value="$(arg parallel_gripper)"/>
  </include>-->
  <node name="stategui" pkg="joint_state_publisher" type="joint_state_publisher" >
    <param name="use_gui" value="true" />
  </node>
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Monitoring and Diagnostics -->
  <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator" >
    <rosparam command="load" file="$(find maxwell_defs)/params/diagnostics.yaml" />
  </node>

</launch>
