<launch>

  <include file="$(find openni_launch)/launch/openni.launch">
    <arg name="rgb_frame_id" value="head_camera_rgb_optical_frame" />
    <arg name="depth_frame_id" value="head_camera_depth_optical_frame" />
    <arg name="depth_registration" value="true" />
    <arg name="publish_tf" value="false" />
  </include>

</launch>
