<launch>

  <node pkg="nodelet" type="nodelet" name="head_laser_manager" output="screen" respawn="true" args="manager"/>

  <!-- Fake Laser -->
  <node pkg="nodelet" type="nodelet" name="kinect_laser" args="load pointcloud_to_laserscan/CloudToScan head_laser_manager" respawn="true">
    <param name="output_frame_id" value="/head_camera_rgb_link"/>
    <!-- heights are in the (optical?) frame of the kinect -->
    <param name="min_height" value="-0.15"/>
    <param name="max_height" value="0.15"/>
    <remap from="cloud" to="/camera/depth/points"/>
  </node>

</launch>
