<launch>
  <include file="$(find maxwell_calibration)/capture_data/all_viewers.launch"/>
  <include file="$(find maxwell_calibration)/capture_data/all_pipelines.launch"/>
  <include file="$(find maxwell_calibration)/capture_data/capture_exec.launch"/>
  <!--<include file="$(find pr2_calibration_launch)/capture_data/teleop_joystick.launch"/>-->
</launch>
